# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [7]:
import numpy as np
import pandas as pd

### 2. Create a Pandas Series containing the elements of the list below.

In [8]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [9]:
pdseries = pd.Series(lst)

pdseries

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [10]:
pdseries[2]

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [11]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [13]:
df = pd.DataFrame(b)

print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [15]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [17]:
df = pd.DataFrame(np.random.random((10,5)), columns=colnames)

df

    Score_1   Score_2   Score_3   Score_4   Score_5
0  0.869224  0.746609  0.584444  0.038943  0.222773
1  0.406937  0.274400  0.688071  0.525683  0.180013
2  0.487606  0.564185  0.928030  0.115601  0.429130
3  0.963187  0.891227  0.329746  0.092960  0.276190
4  0.171703  0.796789  0.908236  0.527824  0.888977
5  0.875052  0.623937  0.206036  0.649553  0.747086
6  0.968347  0.613830  0.824405  0.788321  0.879799
7  0.493284  0.555293  0.065843  0.511444  0.745148
8  0.408545  0.844277  0.634540  0.172246  0.321879
9  0.944799  0.285153  0.191065  0.086497  0.368352

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [19]:
df[['Score_1','Score_3','Score_5']]

    Score_1   Score_3   Score_5
0  0.869224  0.584444  0.222773
1  0.406937  0.688071  0.180013
2  0.487606  0.928030  0.429130
3  0.963187  0.329746  0.276190
4  0.171703  0.908236  0.888977
5  0.875052  0.206036  0.747086
6  0.968347  0.824405  0.879799
7  0.493284  0.065843  0.745148
8  0.408545  0.634540  0.321879
9  0.944799  0.191065  0.368352

### 7. From the original data frame, calculate the average Score_3 value.

In [20]:
df['Score_3'].mean()

0.5360416639606794

### 8. From the original data frame, calculate the maximum Score_4 value.

In [21]:
df['Score_4'].max()

0.7883206597298037

### 9. From the original data frame, calculate the median Score 2 value.

In [22]:
df['Score_2'].median()

0.6188833649256493

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [24]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [26]:
df = pd.DataFrame(orders)

df

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [30]:

print("Quantity ordered : ", df['Quantity'].sum())
print("Revenue Generated : ", df['Revenue'].sum())

Quantity ordered :  2978
Revenue Generated :  637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [36]:
print("Most expensive : " , df['UnitPrice'].max())
print("Least expensive : " , df['UnitPrice'].min())
print("The diference between both : ", df['UnitPrice'].max() - df['UnitPrice'].min() )

Most expensive :  11.95
Least expensive :  0.18
The diference between both :  11.77