# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [46]:
import pandas as pd

### 2. Create a Pandas Series containing the elements of the list below.

In [47]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [48]:
df = pd.Series(lst)
#print(df)

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [49]:
df_third = df[2]
print(df_third)

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [50]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [42]:
df_b = pd.DataFrame(b)
"""
If I want to give titles to the columns:
columns_name = ["1","2","3","4","5"]
df_b = pd.DataFrame(b, columns = columns_name)
"""
print(df_b)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [51]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [52]:
df_b.columns = colnames
print(df_b)

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [55]:
"""To filter just one column: print(df['Column Name'])"""
print(df_b[['Score_1', 'Score_3', 'Score_5']])

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [56]:
print(df_b['Score_3'].mean())

56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [57]:
print(df_b['Score_4'].max())

88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [65]:
print(df_b['Score_2'].median())

40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [59]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [66]:
df_orders = pd.DataFrame.from_dict(orders, orient ='index')
print(df_orders)

                                  0                                   1  \
Description  LUNCH BAG APPLE DESIGN  SET OF 60 VINTAGE LEAF CAKE CASES
Quantity                          1                                  24
UnitPrice                      1.65                                0.55
Revenue                        1.65                                13.2

                                       2                                  3  \
Description  RIBBON REEL STRIPES DESIGN   WORLD WAR 2 GLIDERS ASSTD DESIGNS
Quantity                               1                               2880
UnitPrice                           1.65                               0.18
Revenue                             1.65                              518.4

                                            4               5  \
Description  PLAYING CARDS JUBILEE UNION JACK  POPCORN HOLDER
Quantity                                    2               7
UnitPrice                                1.25            0.85
Revenue                                   2.5            5.95

                                          6              7  \
Description  BOX OF VINTAGE ALPHABET BLOCKS  PARTY BUNTING
Quantity                                  1              4
UnitPrice                             11.95           4.95
Revenue                               11.95           19.8

                                    8                              9
Description  JAZZ HEARTS ADDRESS BOOK  SET OF 4 SANTA PLACE SETTINGS
Quantity                           10                             48
UnitPrice                        0.19                           1.25
Revenue                           1.9                             60

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [67]:
df_orders_trans = df_orders.transpose()
print(df_orders_trans)

quantity = df_orders_trans['Quantity'].sum()
revenue = df_orders_trans['Revenue'].sum()

print("Quantity:", quantity, "and Revenue:", revenue)

                          Description Quantity UnitPrice Revenue
0              LUNCH BAG APPLE DESIGN        1      1.65    1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES        24      0.55    13.2
2         RIBBON REEL STRIPES DESIGN         1      1.65    1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS     2880      0.18   518.4
4    PLAYING CARDS JUBILEE UNION JACK        2      1.25     2.5
5                      POPCORN HOLDER        7      0.85    5.95
6      BOX OF VINTAGE ALPHABET BLOCKS        1     11.95   11.95
7                       PARTY BUNTING        4      4.95    19.8
8            JAZZ HEARTS ADDRESS BOOK       10      0.19     1.9
9       SET OF 4 SANTA PLACE SETTINGS       48      1.25      60
Quantity: 2978 and Revenue: 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [68]:
max_price = df_orders_trans['UnitPrice'].max()
min_price = df_orders_trans['UnitPrice'].min()
print(max_price - min_price)

11.77